body {
    border-radius: 20%;
}

.navbar {
    background-color: transparent;
    height: 150px;
}

#carrusel{
    height: 100vh;
}  

#carrusel .carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }


.productos {
	display: flex;
	flex-wrap: wrap;
}

.carta-producto {
	display: flex;
	flex-direction: column;
	
	padding: 2%;
	flex: 1 16%;
	
	background-color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.img-producto img {
	width: 100%;
}

.info-producto {
	margin-top: auto;
	padding-top: 20px;
	text-align: center;
    justify-content: flex-start;
}

h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-size : 16px
}

@media screen and (max-width:767px) {
    .navbar {
        height: 100px;
    }


 }