
:root {
    --color-marron: #7C5249;
}


body {
    border-radius: 20%;
}

.navbar {
    background-color: transparent;
}

.logo-nav {
    width:150px;
    height:150px;
}

#carrusel{
    height: 100vh;
}  

#carrusel .carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }


.productos {
	display: flex;
	flex-wrap: wrap;
}

.carta-producto {
	display: flex;
	flex-direction: column;
	
	padding: 2%;
	flex: 1 16%;
	
	background-color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.img-producto img {
	width: 100%;
}

.info-producto {
	margin-top: auto;
	padding-top: 20px;
	text-align: center;
    justify-content: flex-start;
}

h2, h3, h5, h6, .volver, .botones-letra {
    font-family: 'Montserrat', sans-serif;
    font-size : 16px
}


button {
    background-color: transparent;
    border: none;
}

button:hover {
    color: var(--color-marron);
}


.botones-local {
    display: flex;
    justify-content: space-evenly;
}

.boton {
    background-color: var(--color-marron);
    border-radius: 10%;
    padding: 10px;
    color:#FFF;
}

.contenedor-boton-carrito {
    top: 0;
    margin-bottom:50px;
}

/*BOTON COMPRAR*/
.btn{
   background-color: black; 
   color: red;
}

/*CSS HTML CARRITO*/



.volver {
    padding:0 30px 0 15px;   
}

.encabezado {
    margin:5% 0 0 5%;
    padding: 0 0 0 2%;
    width: 100%;
}


/*CSS CARRITO */


.contenedor-1 {
    margin: 25% 0 25% 0;
}

.contenedor-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
}


/*FOOTER*/

.footer {

    height: 100vh;

}



@media screen and (max-width:767px) {
    .navbar {
        height: 100px;
    }

    .logo-nav {
        width: 150px;
        height:150px;
    }
    .encabezado {
        margin: 5% 0 0 5%;
        padding: 0 0 0 5%;
    }

    .nombre-producto-carrito{
        font-size: 1.25rem;
    }

 }